<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mlyho.csudhclassroomnav">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permision.REQUEST_LOCATION_PERMISSION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Navigation"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings" />
        <activity android:name=".classrooms" />
        <activity android:name=".offices" />
        <activity android:name=".fullMap" />
        <activity android:name=".MainActivity"/>


        <activity
            android:name=".menu"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmaRqxgVkl9_ZRyLHi8k-i1gyZN8YN_PE" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="b7f99b0e-d623-4e00-beb1-ddf79b3f9d7d" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="T6NuGitwvrsspYwnpPoPFempDYEAdGbZexkx6cwokgazNuVS8fO6FDrwHDOA0bY2Skvw6IfEt7AZ+JPnocgzs9AdvW5WbrO2G9YFjXdeaycoKNo6f3NAeU3fIge5Gw==" />



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.indooratlas.android.sdk.examples.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>